---
import type { CollectionEntry } from 'astro:content'
import { format } from 'date-fns'

interface Props {
  posts: CollectionEntry<'posts'>[]
  activeTag?: string
}

const { posts, activeTag } = Astro.props
---

<ul>
  {
    posts.map((post, index) => (
      <li
        class:list={[
          'py-4',
          index !== posts.length - 1 && 'mb-2 border-b border-gray-300',
        ]}
      >
        <a
          href={`/blog/posts/${post.id}`}
          class="block text-black hover:no-underline focus:outline-none"
        >
          <time
            class="mb-2 block text-sm text-gray-500"
            datetime={post.data.date.toISOString()}
          >
            {format(post.data.date, 'yyyy-MM-dd')}
          </time>
          <h2 class="text-xl font-semibold">{post.data.title}</h2>
        </a>
        {post.data.tags && post.data.tags.length > 0 && (
          <ul class="mt-2 flex flex-wrap gap-1">
            {post.data.tags.map((tag) => (
              <li>
                <a
                  href={`/blog/tags/${tag}`}
                  class:list={[
                    'inline-block px-2 py-1 text-sm',
                    tag === activeTag
                      ? 'bg-gray-200 text-gray-700'
                      : 'bg-gray-100 text-gray-500 hover:bg-gray-200',
                  ]}
                >
                  # {tag}
                </a>
              </li>
            ))}
          </ul>
        )}
      </li>
    ))
  }
</ul>
